.auth-background {
  background-image: url('../assets/login-background.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.auth-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 20px;
  padding-right: 200px;
}

.auth-form-wrapper {
  width: 100%;
  max-width: 650px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .auth-background {
    background-image: none;
    background-color: #f9fafb;
  }
  
  .auth-container {
    justify-content: center;
    padding: 20px;
    padding-right: 20px;
  }
  
  .auth-form-wrapper {
    max-width: 100%;
  }
}
