.filter-checkbox{
    appearance: none;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    color: #363434;
    border: 1px solid #363434;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    margin: 12px 0 0 8px;
}

.filter-checkbox:checked {
    background-color: #363434;
    border-color: #363434;
}

.filter-checkbox-content{
    flex-grow: 1;
    padding: 12px 16px;
    word-break: break-word;
}

.filter-icon {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: bold;
    font-family: Roboto, Arial, sans-serif;
    vertical-align: baseline;
}